{% extends "layout.html" %}
{% block content %}
    <div class="col-md-8 pd-0 mg-0">
        <div class="forum-title">
            <div class="float-right forum-desc filter">
                <small>Filter: New | Top</small>
            </div>
            <h3>Mathematics</h3>
        </div>
        <hr class="title-line">
        {% for question in questions %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-2 question-info mt-auto mb-auto">
                            <span class="likes-number">10</span>
                            <div>
                                <small>Likes</small>
                            </div>
                        </div>
                        <div class="col-md-2 question-info mt-auto mb-auto">
                            <span class="answers-number">2</span>
                            <div>
                                <small>Answers</small>
                            </div>
                        </div>
                        <div class="col-md-8 pl-5">
                            <h3><a class="article-title" href="{{ url_for('question_post', question_id=question.id) }}">{{ question.title }}</a></h3>
                            <div class="article-metadata article-info">            
                                <a class="mr-2" href="#">{{ question.author.username }}</a>
                                <small class="text-muted">asked on {{ question.date_posted.strftime('%d.%m.%Y %H:%M') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include "sidebar.html" %}
{% endblock content %}
