{% extends "layout.html" %}
{% block content %} 
    <div class="col-md-8 pd-0 mg-0">
        <div class="forum-title">
            <h3>Profile information</h3>
        </div>
        <hr class="title-line">

        <!-- Profile information -->
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">E-mail: {{ current_user.email }}</p>
                <h5>Description</h5>
                <article class="media content-section mb-0">
                    <div class="media-body">
                        {{ current_user.description }}
                    </div>
                </article>
                <div class="edit-profile-btn">
                    <small>Want to change your username or description? <a class="mt-0 mb-5 edit-profile-btn" href="{{ url_for('edit_profile') }}">Edit your profile here</a></small>
                </div>

                <!-- Questions displayed -->
                <span class="row ml-auto mt-3"> 
                    <h4>Your questions</h4> 
                    <h4 class="ml-1">({{ questions.total }})</h4>
                </span>
                <hr class="title-line">
                {% for question in questions.items %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-2 question-info mt-auto mb-auto">
                                    <span class="likes-number">{{ question.views }}</span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-2 question-info mt-auto mb-auto">
                                    <span class="answers-number">{{ question.num_answers }}</span>
                                    <div>
                                        <small>Answers</small>
                                    </div>
                                </div>
                                <div class="col-md-8 pl-5">
                                    <h3><a class="article-title" href="{{ url_for('question_post', question_id=question.id) }}">{{ question.title }}</a></h3>
                                    <div class="article-metadata article-info">            
                                        <a class="mr-2" href="#top">{{ question.author.username }}</a>
                                        <small class="text-muted">{{ question.date_posted.strftime('%d.%m.%Y %H:%M') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}

                <!-- Pagination -->
                <div class="page-align"> 
                    {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if questions.page == page_num %}
                                <a class="btn btn-dark mb-4" href="{{ url_for('profile', page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-outline-dark mb-4" href="{{ url_for('profile', page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}    
                </div>
           </div>
        </div> 
    </div>

    {% include "sidebar.html" %}

{% endblock content %}