<div class="col-md-4 ml-auto">
    <div class="content-section">
        <h3>Subjects</h3>
        <p class="text-muted"> If you have any questions regarding other subjects.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Mathematics</li>
                <li class="list-group-item list-group-item-light">Physics</li>
                <li class="list-group-item list-group-item-light">Programming</li>
                <li class="list-group-item list-group-item-light">Chemistry</li>
            </ul>
        </p>
    </div>
</div>