{% extends "layout.html" %}
{% block content %}
<div class="mx-auto register-form mt-5">
    <form action="" method="POST">
        <!-- Tu pride še form.hidden_tag() -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Log in</h1></legend>
            <div class="form-group">
                Username
            </div>
            <div class="form-group">
                Password
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-block btn-primary btn-md"> Log in</button>
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            New to vprašalko? <a class="ml-2" href="{{ url_for('register') }}">Create an account</a>
        </small>
    </div> 
</div>
{% endblock content %}